* {
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', sans-serif;
    height: 10vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 6vmin;
    justify-content: center;
    margin: 0;
}

h2 {
    font-size: 4vmin;
    justify-self: center;
    margin-top: 1vh;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(5, 8vmin);
    grid-template-rows: repeat(6, 8vmin);
    gap: .75vmin;
    justify-self: center;
    align-items: stretch;
}

.game-grid > div {
    text-align: center;
    font-size: 6vmin;
    border: solid rgb(110, 115, 115) .5vmin; 
}

button {
    font-family: 'Rajdhani', sans-serif;
}

#play-again {
    margin: 1vh;
}

.keyboard {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.keyboard > button {
    min-width: 7vmin;
    min-height: 5vmin;
    margin: 3px;
    font-size: 3vh;
    border: solid rgb(110, 115, 115) 2px;
    border-radius: 15%;
}

#bottom-row {
    margin-bottom: 3vmin;
}