* {
    box-sizing: border-box;

}

body {
    font-family: 'Rajdhani', sans-serif;
    height: 10vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 6vmin;
    justify-content: center;

    margin: 0;
}

h2 {
    font-size: 4vmin;
    justify-self: center;
    margin-top: 1vh;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(5, 8vmin);
    grid-template-rows: repeat(6, 8vmin);
    gap: .75vmin;
    justify-self: center;
    align-items: stretch;
}

/* How to vertically align the context? */
.game-grid > div {
    gap: .75vmin;
    text-align: center;
    font-size: 6vmin;
    border: solid rgb(110, 115, 115) .5vmin; 
}

button {
    margin: 0;
    /* place-self: center; */
    font-family: 'Rajdhani', sans-serif;
}

#play-again {
    margin: 1vh;
}

.keyboard {

    /* grid-template-columns: repeat(5, 10vmin);
    grid-template-rows: repeat(6, 10vmin); */


    align-items: center;

    gap: .75vmin;
    justify-self: center;
    align-self: center;
}

/* How to vertically align the context? */
.keyboard > div {
    /* gap: .75vmin; */
    text-align: center;
    font-size: 6vmin;
    border: solid rgb(110, 115, 115) .5vmin; 
}