* {
    box-sizing: border-box;

}

body {
    font-family: 'Rajdhani', sans-serif;
    height: 10vh;
    margin: 0;
    display: grid;
    justify-content: center;}

h1 {
    font-size: 6vmin;
    justify-self: center;
}

h2 {
    font-size: 4vmin;
    justify-self: center;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(5, 10vmin);
    grid-template-rows: repeat(6, 10vmin);
    gap: .75vmin;
    justify-self: center;
    align-self: stretch;
}

/* How to vertically align the context? */
.game-grid > div {
    gap: .75vmin;
    text-align: center;
    font-size: 6vmin;
    border: solid rgb(110, 115, 115) .5vmin; 
}

button {
    margin: 3vmin;
    place-self: center;
    font-family: 'Rajdhani', sans-serif;
}